@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#app {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: auto;
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-blue-600 underline;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    position: absolute;
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: transform 0.3s ease;
}
.slide-left-enter-from {
    position: absolute;
    transform: translate3d(100vw, 0, 0);
}
.slide-left-leave-to {
    position: absolute;
    transform: translate3d(-100vw, 0, 0);
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: transform 0.3s ease;
}
.slide-right-enter-from {
    position: absolute;
    transform: translate3d(-100vw, 0, 0);
}
.slide-right-leave-to {
    position: absolute;
    transform: translate3d(100vw, 0, 0);
}

.slide-bottom-enter-active {
    transition: transform 0.5s ease;
}
.slide-bottom-leave-active {
    z-index: 100;
    transition: transform 0.5s ease;
}
.slide-bottom-enter-from {
    position: absolute;
}
.slide-bottom-leave-to {
    position: absolute;
    transform: translate3d(0, 100vh, 0);
}

.slide-top-enter-active {
    z-index: 100;
    transition: transform .5s ease;
}
.slide-top-leave-active {
    transition: transform .5s ease;
}
.slide-top-enter-from {
    position: absolute;
    z-index: 20;
    transform: translate3d(0, 100vh, 0);
}
.slide-top-leave-to {
    position: absolute;
}
